html, body {
    width: 100vw;
    position: relative;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
 
nav {
    background-color: #2D5B6B;
}

.navbar-dark .navbar-nav .nav-link {
    color: #FFFFFFc0;
}

#navbar-list {
    text-transform: uppercase;
}

.content-section {
    min-height: 50vh;
    padding: 5rem 2rem 5rem 2rem;
    display: flex;
    align-items: center;
}

.content-section[id="about"] {
    background-color: #E2F0CB;
}

.content-section[id="survey"] {
    background-color: #B2EBFF;
}

.content-section[id="focus-groups"] {
    background-color: #F99191;
}

.content-section[id="join"] {
    background-color: #A0ACEF;
}

.content-section[id="contact"] {
    background-color: #D3DAFF;
}

button:focus {
    outline: 1px;
}

a.bg-dark:focus, a.bg-dark:hover, button.bg-dark:focus, button.bg-dark:hover {
    background-color: #343a40!important;
}

* {
    font-family: 'Montserrat', sans-serif;
}

section {
    font-size: 1rem;
}

h1 {
    font-family: 'Shrikhand', cursive;
    text-transform: uppercase;
    font-size: 2rem;
}

.display-1 {
    font-family: 'Shrikhand', cursive;
    font-size: 3rem;
}

.social-icon {
    color: darkslategrey;
    max-width: 32px;
    padding-right: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

@media (min-width: 768px) {
    section {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 3.2rem;
    }

    .display-1 {
        font-size: 4rem;
    }

    #navbar-list .nav-item.active {
        color: white;
    }

    #navbar-list .nav-item {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }

    .content-section {
        min-height: 100vh;
        padding: 5rem 3rem 5rem 3rem;
    }
}